.container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.innerDiv{
    display: flex;
    flex-wrap: nowrap;
    margin : 20px;
    width: 30rem;
    text-align: left;
}


.float-container {
    padding: 20px;
    border: 1px solid #eeeeee;
    width: 30rem;
    text-align: left;
    margin: 20px;
    /* margin-top: 20px; */
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;

}

.card-img-top{
  height: 60%;
  width: 100%;
}

.div1{
  max-width: 20rem !important;
  max-height: 100rem;
}
